borg
qBittorrent
auth0
gh
opencode
filezilla
raycast
gcloud
.android
swiftpm
/zed/prompts/prompts-library-db.*.mdb/
/zed/settings_backup.json
/fish/*
!/fish/conf.d
/fish/conf.d/99-local.fish
!/fish/config.fish
!/fish/functions/
!/fish/functions/**
.DS_Store
